backend/__pycache__
backend/translate_backend/__pycache__
test.py
test2.py
test3.py
app_frontend/
backend/translate_backend/selenium_handler.py
apikey.json
frontend/react_front_end/react_front_end1.rar
frontend/react_front_end/react_front_end.rar
frontend/react_front_end/react_front_end2.rar

