#user {
    height: 75%;
    max-width: fit-content;
    border: 2px hsl(0, 0%, 70%);
    border-radius: 128px;
    background-color: hsl(0, 0%, 95%);
    overflow: hidden;
}
#user:hover {
    background-color: #ddd;
}
#user img{
    width: auto;
    height: auto;
}
#user_container {
    border: 2px solid #ccc;
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    top: 5px;
    right: 5px;
    width: 150px;
    height: auto;
    background-color: #ddd;
    padding: 5px;
}

#user_container span {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}
#user_container span:hover {
    background-color: hsl(0, 0%, 70%);
    border-radius: 5px;
}